/* 전체 CSS 설정 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#cartWrapper {

	border: 1px solid #e8d0d01f;
	
	width: 1200px;
	height: 750px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

#cartBox {

	border: 1px solid #e8d0d01f;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	border-radius: 30px;
	background : #f2dede29;
    box-shadow: 0px 0px 15px 1px #e91e6357;
	
}

/* 수강 신청, 타이틀 CSS 설정 */
#titleBox {

/* 	border: 1px solid floralwhite; */
	
	width: 100%;
	height: 100px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

#title {

/* 	border: 1px solid floralwhite; */
	
	width: 100%;
	height: 50px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	line-height: 40px;
	font-size: 30px;
    background: pink;
    border-radius: 10px;
    color: #e91e63b0;
    font-weight: bold;
}

#filter {

	border: 1px solid #e8d0d01f;
	width: 100%;
	height: 50px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	line-height: 40px;
	background : #f443361c
}

#filter>div {
	border: 1px solid #e8d0d01f;
	width: calc(100%/ 5);
	height: 100%;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	float: left;
	line-height: 40px;
	font-size: 25px;
    background: #f443361c;
    border-radius: 10px;
    color: #f443368c;
    font-weight: bold;
}

#filterEdu {
	border: 1px solid #e8d0d01f;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

#filterPet {
	border: 1px solid #e8d0d01f;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

#filterTr {
	border: 1px solid #e8d0d01f;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

#filterPrice {
	border: 1px solid #e8d0d01f;
	width: 100%;
	height: 100%;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

/* 수강 신청 CSS 설정 */
#eduResultBox {
	border: 1px solid #e8d0d01f;
	width: 100%;
	height: 40px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

#eduResultBox>div {
	float: left;
}

#edu_res_box {

	border: 1px solid #e8d0d01f;
	
    width: 100%;
    height: 220px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    overflow: overlay;

}



#dataBox {

    position: relative;
    width: 100%;
    height: 40px;
    margin: 0 auto;
    left: 0px;
    top: 0;
    
}

#eduBox {

	border: 1px solid #e8d0d01f;
	
	width: 20%;
	height: 40px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
}

#eduBox>div {

	border: 1px solid #e8d0d01f;
	
	height: 38px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 1px;
	right: 0;
	float: left;
	width : 78px;
}

#eduBox>div>a {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 77px;
    height: 35px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: #f443361c;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;
}

#eduNumBox {

    border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 70px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: -13px;
    left: -2px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;
    
}

#eduNumBox > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
}

#eduNumBox > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color : black;
}

#eduNameBox {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 75px;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: -13px;
    left: -1px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    
}

#eduNameBox > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
}

#eduNameBox > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color : black;
    font-weight : bold;
}

#eduHpBox {

    border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 80px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -15px;
    left: -4px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    
}

#eduHpBox > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
}

#eduHpBox > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color : black;
}

#petBox {

border: 1px solid #e8d0d01f;
    width: 20%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
}

#petBox > div {

	border: 1px solid #e8d0d01f;
	
	height: 38px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0px;
	right: 0;
	float: left;
	width : 117px;
}

#petBox > div > a {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 35px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: #f443361c;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;
}

#pet_img_box {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 117px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: -7px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;

}

#pet_img_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 60%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;

}

#pet_img_box > div > input {

	border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color: black;

}

#pet_name_box {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 115px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -13px;
    left: -9px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;

}

#pet_name_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;

}

#pet_name_box > div > input {

	border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color: #2a9037;
    font-weight : bold;

}


#trBox {

	border: 1px solid #e8d0d01f;

    width: 20%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    
}

#trBox > div {

	border: 1px solid #e8d0d01f;
	
	height: 38px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 1px;
	right: 0;
	float: left;
	width : 78px;
}

#trBox > div > a {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 35px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: #f443361c;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;
}


#tr_img_box {

    border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 79px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    left: -7px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
    font-weight: bold;
    top: 0px;
    
}

#tr_img_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 80%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
}

#tr_img_box > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    text-align: center;
    color : black;
}

#tr_name_box {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 70px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -14px;
    left: -8px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    
}

#tr_name_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
}

#tr_name_box > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 13px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color: #ff8119;
    font-weight: bold;
}

#tr_hp_box {

    border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 85px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -15px;
    left: -10px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    
}

#tr_hp_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
}

#tr_hp_box > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 10px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color : black;
}

#priceBox {

    border: 1px solid #e8d0d01f;
    
    width: 20%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    
}

#priceBox > div {

	border: 1px solid #e8d0d01f;
	
	height: 38px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 1px;
	right: 0;
	float: left;
	width : 78px;
}

#priceBox > div > a {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 35px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: #f443361c;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;
}

#edu_date_box {

    border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 79px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -14px;
    left: -13px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
    font-weight: bold;
    
}

#edu_date_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
}

#edu_date_box > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color : blueviolet;
}

#edu_cnt_box {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 70px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -13px;
    left: -14px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
    font-weight: bold;
    
}

#edu_cnt_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
}

#edu_cnt_box > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    text-align: center;
    color : black;
}

#edu_totalprice_box {

    border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 80px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -14px;
    left: -16px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;
    
}

#edu_totalprice_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
}

#edu_totalprice_box > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 13px;
	text-decoration: underline;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: cadetblue;
    text-align: center;
    color : black;
}



#InfoBox {

    border: 1px solid #e8d0d01f;
    
    width : 18%;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: 0;
	left : 0;
    right: 0;
}

#InfoBox > div {

	border: 1px solid #e8d0d01f;
	
	height: 38px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 1px;
	right: 0;
	float: left;
	width : 104px;
}

#InfoBox > div > a {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 35px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: #f443361c;
    line-height: 35px;
    color: cadetblue;
    font-weight: bold;
}

#edu_info_box {

    border: 1px solid #e8d0d01f;
    
    display: inline-block;
    width: 103px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -14px;
    left: -15px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
    font-weight: bold;
    
}

#edu_info_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
}

#edu_info_box > div > input {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    background: #18e28c78;
    font-weight : bold;
    text-align: center;
    color : black;
   	transition : 0.4s;
}

#edu_info_box > div > input:hover {

	background : #f5bfce;
	color : floralwhite;
	transition : 0.4s;

}

#cart_del_box {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 104px;
    height: 40px;
    position: relative;
    margin: 0 auto;
    top: -14px;
    left: -18px;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
    font-weight: bold;
    
}

#cart_del_box > div {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 15px;
    text-decoration: none;
    border-radius: 5px;
    background: aliceblue;
    line-height: 35px;
    color: black;
}

#cart_del_box > div > a {

	border: 1px solid #e8d0d01f;

    display: inline-block;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 12px;
    text-decoration: none;
    border-radius: 5px;
    background: #18e28c78;
    font-weight : bold;
    text-align: center;
    color : black;
}

#cart_del_box > div > a:hover {

	background : red;
	color : floralwhite;
	transition : 0.4s;

}

/* 결제관련 CSS 설정 */

#total_price_box{

	border: 1px solid #f2dede29;
	
	width: 1200px;
	height: 170px;
	position: relative;
	margin: 0 auto;
    top: 30px;
	left: 0;
	right: 0;
	border-radius: 13px;
	background : #f2dede29;
    box-shadow: 0px 0px 15px 1px #ccc;

}

#total_price_box > div{

	border : 1px solid #f2dede20;

	position: relative;
	margin: 0 auto;
    top: 0px;
    left: 0;
    right: 0;
    float: left;
    border-radius: 10px;

}

#total_box{

	border : 1px solid #f2dede20;
	
	width : 100%;
	height : 70px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
   	border-radius : 5px;

}

#total_box > div{

	border : 1px solid #f2dede20;
	
    width : calc(100%/3);
    height: 70px;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    float: left;
    border-radius : 5px;

}

#total_box > div > a{

    border: 1px solid #f2dede20;

	width: 100%;
    height: 35px;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    font-size: 25px;
    font-weight: bold;
    line-height: 30px;
    float : left;
    text-decoration : none;
    border-radius : 5px;
    background: pink;
    color: #e91e63b0;
}

#edu_shop_price > input{

    border: 1px solid #f2dede20;

	width: 50%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    float: left;
    text-align: center;
    height: 35px;
    background : #f8dcdc69;
    border-radius : 5px;
    color: blueviolet;
    font-size: 20px;

}

#edu_shop_total_price > input{

    border: 1px solid #f2dede20;

	width: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    height: 35px;
    background : #f8dcdc69;
    border-radius : 5px;
    font-size: 25px;
    color : orangered;
    font-weight: bold;

}

#confirm_box{

	border : 1px solid #f2dede20;

	width : 100%;
	height : 70px;
	position: relative;
	margin: 0 auto;
	top: 0;
	left: 0;
	right: 0;
	
}

#confirm_box > a{

    border: 1px dotted pink; 

	width: 150px;
    position: relative;
    margin: 0 20px;
    top: 20px;
    left: 0;
    right: 0;
    height: 50px;
    font-weight: bold;
    line-height: 35px;
    font-size: 20px;
    border-radius: 15px;
    transition : 0.4s;
    color : lightpink;
}

#confirm_box > a:hover {
	
	border-radius : 20px;
	transition : 0.4s;
	color : hotpink;
	
}

#preview {

	width : 300px;
	height : 300px;
	position : fixed;
	margin : 0 auto;
	left : 390px;
	right : 0;
	top : 430px;
	border-radius: 20px;

}

#preview > img {
	
	width : 300px;
	height : 300px;
	position : relative;
	margin : 0 auto;
	left : 0;
	right : 0;
	top : 0;
	border-radius: 80px;
	box-shadow: 0px 0px 15px 5px pink;

}


.modal {

    border: 1px solid #fbf3f7;
    
    background: #fbf3f7;
    position: relative;
    width: 1200px;
    height: 750px;
    margin: 0 auto;
    top: -920px;
    left: 0;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 15px #f2dede;
}


#pop_title {

	border : 1px solid pink;

	position : relative;
	margin: 15px 0;
	text-align : center;
	top : 0;
	left : 0;
	border-radius: 20px;
	width : 98%;
	height : 70px;
	background : pink;

}

#pop_title > div{

	border : 1px solid pink;

	position : relative;
	margin : 0 auto;
	text-align : center;
	top : 0;
	left : 0;
	width : calc(100%/3);
	height : 100%;
	float : left;
	border-radius: 20px;
	background : pink;

}

#pop_title > div > a {

	display : inline-block;
	position : relative;
	margin : 0 auto;
	text-align : center;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
	font-weight : bold;
	font-size : 30px;
	text-align: center;
    line-height: 60px;
    text-decoration: none;
    color : #f05083;
}

#pop_mem_box {

    border: 1px solid #fbeeee;
    
    position: relative;
    width: 390px;
    height: 550px;
    margin: 0 auto;
    top: 0;
    left: 0;
    border-radius: 15px;
    float: left;
    background: #fbf2f2;
}

#pop_mem_box > div {

    border: 1px solid #fbf2f2;

	position : relative;
	width : 100%;
	height: 50px;
	margin : 0 auto;
	top : 0;
	left : 0;
	border-radius: 15px;

}

#pop_mem_box > div > a {

    border: 1px solid #fbeeee;
    
    display: inline-block;
    position: relative;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    top: 0px;
    left: -6px;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #ff811994;
    line-height: 50px;
    background : #fbeeee;
}

#pop_mem_box > div > input {

	border: 1px solid #f2dede;

    display: inline-block;
    position: relative;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    top: -3px;
    left: 0;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;

}

#pop_pet_box {

    border: 1px solid #fbeeee;

	position : relative;
    width: 390px;
    height: 551px;
	margin : 0 auto;
	top : 0;
	left : 0;
	border-radius: 15px;
	float: left;
	background : #fbf2f2;
}

#pop_pet_box > div {

    border: 1px solid #fbf2f2;

	position : relative;
	width : 100%;
	height: 56px;
	margin : 0 auto;
	top : 12px;
	left : 0;
	border-radius: 15px;

}

#pop_pet_box > div > a {

    border: 1px solid #fbeeee;
    
    display: inline-block;
    position: relative;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    top: -2px;
    left: 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #ff811994;
    line-height: 50px;
    background : #fbeeee;
}

#pop_pet_box > div > input {

	border: 1px solid #fbf2f2;

    display: inline-block;
    position: relative;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 6px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;

}

#pop_tr_box {

    border: 1px solid #fbeeee;

	position : relative;
    width: 390px;
    height: 551px;
	margin : 0 auto;
	top : 0;
	left : 0;
	border-radius: 15px;
	float: left;
	background : #fbf2f2;
}

#pop_tr_box > div {

    border: 1px solid #fbf2f2;

	position : relative;
	width : 100%;
	height: 32px;
	margin : 0 auto;
	top : 0;
	left : 0;
	border-radius: 15px;

}

#pop_tr_box > div > a {

    border: 1px solid #fbeeee;
    
    display: inline-block;
    position: relative;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    border-radius: 15px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: #ff811994;
    line-height: 30px;
    background : #fbeeee;
}

#pop_tr_box > div > input {

	border: 1px solid #fbf2f2;

    display: inline-block;
    position: relative;
    width: 48%;
    height: 100%;
    margin: 0 auto;
    top: 0;
    left: 0;
    border-radius: 10px;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    color: black;

}

#pop_btn {

    border: 1px solid #f443368c;
    position: relative;
    width: 200px;
    height: 60px;
    margin: 0 auto;
    top: 663px;
    left: -14px;
    border-radius: 20px;

}

#pop_btn > input {

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    top: -648px;
    left: 0;
    border-radius: 20px;
   	font-size: 20px;
    font-weight: bold;
    color: pink;
    transition: 0.4s;


}

#pop_btn > input:hover {

	font-size: 20px;
    font-weight: bold;
    color: hotpink;
    transition: 0.4s;

}

.modal > div {

	position : relative;
	width : 100%;
	height : 100%;
	margin : 15px 15px;
	top : 0;
	left : 0;
	float : left;
}


