@charset "UTF-8";

	.carousel-inner>.item>a>img, .carousel-inner>.item>img{
    display: block;
    width: 100%;
    height: 500px;
    }
	.carousel-indicators {
    position: relative;
    top: 480px;
    bottom: 480px;
    left: 0;
    z-index: 15;
    width: 160px;
    padding-left: 0;
    margin-left: -35%;
    text-align: center;
    list-style: none;
    margin: 0 auto;
	}
    .carousel-example-generic{
    width: 100%;
    }
    .image-text1{
    position: relative;
    top: -110px;
    bottom: 500px;
    right: 40%;			
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
    }
    .image-text2{
    position: relative;
    top: -110px;
    bottom: 500px;
    right: 35%;			
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
    }
    .image-text3{
    position: relative;
    top: -110px;
    bottom: 500px;
    right: 40%;			
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
    }
    .image-text4{
    position: relative;
    top: -110px;
    bottom: 500px;
    right: 40%;			
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
    }
    .slide1_item,.slide2_item,.slide3_item,.slide4_item{
    position: relative;
    width: 200px;
    height: 40px;
    color: black; 
    border-radius: 20px; 
    background-color:transparent; 
    font-size: 16px;
    font-weight: bold;
    }
    .slide1_item:hover,.slide2_item:hover,.slide3_item:hover,.slide4_item:hover{
    background-color:navy;
    color:white;
    transition:0.4s;
    }
    .doghospital_map{
    position: relative;
    margin : 0 auto;
	top : 0;
	left : 0;
	max-width : 1920px;
	width: 100%;
    height: 500px;
    }
    .doghospital_map > img{
    position: relative;
    width : 100%;
    height: 500px;
    }
    .image-text5{
    position: relative;
    margin: 0 auto;
    top: -470px;
    left: -90%;
    width: 100%;
    height: 450px;
    margin-left: 57%;
    max-width: 1920px;
	}
    #text1{
    position: relative;
    margin: 0 auto;
    top: 45px;
    left: -19px;
    width: 100px;
    height: 42px;
    font-size: 30px;
    font-weight: bold;
    }
    #text1-1{
    position: relative;
    margin: 0 auto;
    top: 55px;
    left: -10px;
    width: 261px;
    height: 38px;
    font-size: 27px;
    font-weight: 600;
	}
	#text2 {
    position: relative;
    margin: 0 auto;
    top: -890px;
    left: 0px;
    width: 100%;
    height: 400px;
    max-width: 1920px;
    margin-left: 0;
	}
	#text2 > a {
    position: relative;
    margin: 0 auto;
    top: 120px;
    left: -9%;
    width: 225px;
    height: 205px;
    color: #ffd4db;
    transition: 0.4s;
    font-size: 20px;
    display: inline-block;
	}
	#text2 > i{
    position: relative;
    margin: 0 auto;
    top: 340px;
    left: -10px;
    width: 50%;
    height: 19px;
    font-size: 16px;
    font-weight: bold;
    }
    #text2 >a:hover{
    color:navy;
    transition:0.4s;
	}
	.center_wrap, .slider{
	max-width: 1920px;
	width : 100%;
	margin: 0 auto;
	}
	.slider{
	border: none;
	box-shadow: none; 
	background: #fff8d263;
	}
	.bx-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    max-width: 1920px;
	}
    .bx-wrapper .bx-pager {
    position: relative;
    top: 385px;
    border: none; 
    box-shadow: none;
    background: #fff8d263;
    height: 110px;
    }
   .slider1, .slider2, .slider3, .slider4{
    background: #fff8d263;
    }
   	.slider1 > iframe{
	position: relative;
    left: 50px;
    height: 380px;
    width: 685px;
    top: 10px;
    margin: 0 auto;
    }
    .slider2 > iframe{
	position: relative;
	background-size: cover;
    left: -50px;
    height: 380px;
    width: 685px;
    top: 10px;
	}
	.slider3 > iframe{
	position: relative;
    left: 50px;
    height: 380px;
    width: 685px;
    top: 10px;
	}
	.slider4 > iframe{
	position: relative;
    left: -50px;
    height: 380px;
    width: 685px;
    top: 10px;
	}
	.bx-wrapper .bx-pager.bx-default-pager a{
	position: relative;
	top: 0px;
	}
	
	
	/* PC (해상도 1200px ~ 1920px) */ 
@media all and (min-width:1200px) and (max-width: 1920px) {

	.slider1 {
	
	list-style: none;
    position: relative;
    width: 30%;
    float: left;
	
	}
	.slider2 {
	float: left;
    list-style: none;
    position: relative;
    width: 30%;
    left: 0;
	}
	
	.slider1 > iframe {
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}
	
	.slider2 > iframe {
		background-size: cover;
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}
	
	.slider3 > iframe {
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}
	
	.slider4 > iframe {
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}

	bx-pager-item{
		position : relative;
		top: 0;
		left : 0;
		margin : 0 auto;
		margin-left : 0;
		width : 10px;
		height : 10px;
		
	
	}

}

/* 테블릿 가로, 테블릿 세로 (해상도 768px ~ 1199px)*/ 
@media all and (min-width:768px) and (max-width:1199px) {

	.slider1 {
	
	list-style: none;
    position: relative;
    width: 30%;
    float: left;
	
	}
	.slider2 {
	float: left;
    list-style: none;
    position: relative;
    width: 30%;
    left: 0;
	}
	
	.slider1 > iframe {
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}
	
	.slider2 > iframe {
		background-size: cover;
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}
	
	.slider3 > iframe {
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}
	
	.slider4 > iframe {
	    position: relative;
	    left: 0;
	    height: 380px;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	}

	bx-pager-item{
		position : relative;
		top: 0;
		left : 0;
		margin : 0 auto;
		margin-left : 0;
		width : 10px;
		height : 10px;
		
	
	}
	
	.image-text1 {
    position: relative;
    top: -110px;
    bottom: 500px;
    right: 30%;
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
}

}
	
/* 모바일 가로, 모바일 세로 (해상도 480px ~ 767px)*/ 
@media all and (max-width:767px) {
	
	.center_wrap{
    max-width: 1920px;
    width: 100%;
    top: 0;
    margin: 0 auto;
    position: relative;
    height: 500px;
	}
	
	.carousel-caption {
	    width: 100%;
	    position: relative;
	    display: inline-block;
	    z-index: 10;
	    color: #fff;
	    text-align: center;
	    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
	    height: 500px;
	    left: 0;
	    padding: 0;
	    margin: 0;
	    top: -500px;
	}
	
	.carousel-indicators {
    position: relative;
    top: 480px;
    bottom: 480px;
    left: 0;
    z-index: 15;
    width: 160px;
    padding-left: 0;
    margin-left: -35%;
    text-align: center;
    list-style: none;
    margin: 0 auto;
	}
	
	.slider1 {
	list-style: none;
    position: relative;
    width: 30%;
    float: left;
	height : 250px;
	}
	
	.slider2 {
	float: left;
    list-style: none;
    position: relative;
    width: 30%;
    left: 0;
    height : 250px;
	}
	
	.slider3 {
	float: left;
    list-style: none;
    position: relative;
    width: 30%;
    left: 0;
    height : 250px;
	}
	
	.slider4 {
	float: left;
    list-style: none;
    position: relative;
    width: 30%;
    left: 0;
    height : 250px;
	}
	
	.slider1 > iframe {
	    position: relative;
	    left: 0;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	    height : 100%;
	}
	
	.slider2 > iframe {
		background-size: cover;
	    position: relative;
	    left: 0;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	    height : 100%;
	}
	
	.slider3 > iframe {
	    position: relative;
	    left: 0;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	    height : 100%;
	}
	
	.slider4 > iframe {
	    position: relative;
	    left: 0;
	    top: 10px;
	    margin: 0 auto;
	    width: 100%;
	    height : 100%;
	}

	bx-pager-item{
		position : relative;
		top: 0;
		left : 0;
		margin : 0 auto;
		margin-left : 0;
		width : 10px;
		height : 10px;
		
	
	}
	
	.bx-wrapper {
    margin: 0 auto;
    width: 100%;
    height: 310px;
    max-width: 1920px;
	}
	
	
	.bx-controls.bx-has-pager{
	
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
	
	}
	
   .bx-pager.bx-default-pager{
    
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    
    }

	#nb_slide_title {
    position: relative;
    display: inline-block;
    top: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    height: 20px;
    width: 150px;
	}

	#nb_slide_title1 {
	
	position : relative;
	display : inline-block;
	top : 0;
	left : 0;
	
	}
	
	#nb_slide_title2 {
	
	position : relative;
	display : inline-block;
	top : 0;
	left : 0;
	
	}
	
	#text1 {
    position: relative;
    margin: 0 auto;
    top: 45px;
    left: -4px;
    width: 100px;
    height: 30px;
    font-size: 25px;
    font-weight: bold;
	}
	#text1-1 {
	    position: relative;
	    margin: 0 auto;
	    top: 55px;
	    left: 0px;
	    width: 150px;
	    height: 38px;
	    font-size: 15px;
	    font-weight: 600;
	}
	
	#text2 {
    position: relative;
    margin: 0 auto;
    top: -950px;
    left: 0px;
    width: 100%;
    height: 500px;
    max-width: 1920px;
    margin-left: 0;
	}
	
	#text2 > a {
	    position: relative;
	    margin: 0 auto;
	    top: 210px;
	    left: 0;
	    width: 100%;
	    height: 120px;
	    color: #ffd4db;
	    transition: 0.4s;
	    margin-left: 0;
	    font-size: 12px;
	    display: inline-block;
	}
	#text2 > i {
	    position: relative;
	    margin: 0 auto;
	    top: 290px;
	    left: 0;
	    width: 150px;
	    height: 20px;
	    font-size: 16px;
	    font-weight: bold;
	    margin-left: -67%;
	}
	
	#house {
	
    position: relative;
    top: 0;
    left: 0;
    display: inline-block;
    width: 140px;
    height: 130px;
    margin: 0 auto;
    margin-left: -67%;
	}
	

	
	.image-text1 {
	    position: relative;
	    top: 25%;
	    bottom: 0;
	    z-index: 1;
	    width: 50%;
	    padding-left: 0;
	    list-style: none;
	    color: black;
	    height: 100%;
	    margin-left: 35%;
	    left: -35%;
	    right: 0;
	}
	.image-text2 {
    position: relative;
    top: 25%;
    bottom: 0;
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
    height: 100%;
    margin-left: 35%;
    left: -35%;
    right: 0;
	}
	.image-text3 {
    position: relative;
    top: 25%;
    bottom: 0;
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
    height: 100%;
    margin-left: 35%;
    left: -35%;
    right: 0;
	}
	.image-text4 {
    position: relative;
    top: 25%;
    bottom: 0;
    z-index: 1;
    width: 50%;
    padding-left: 0;
    list-style: none;
    color: black;
    height: 100%;
    margin-left: 35%;
    left: -35%;
    right: 0;
	}

	
}