@charset "UTF-8";

	#pass,#nickname,#checkpass,#name,
	#hp,.birth,#email,#sample4_postcode,
	#sample4_find,#sample4_detailAddress,
	#sample4_extraAddress,#sample4_jibunAddress,
	#sample4_roadAddress
	{
	  width: 400px;
	  height: 40px;
	  font-size: 15px;
	  border: 0;
	  border-radius: 15px;
	  outline: none;
	  padding-left: 10px;
	  background-color: rgb(233, 233, 233);
	}
	
	#id{
	  width: 300px;
	  height: 32px;
	  font-size: 15px;
	  border: 0;
	  border-radius: 15px;
	  outline: none;
	  padding-left: 10px;
	  background-color: rgb(233, 233, 233);
	  float : left;
	}
	
	
	#checkBtn{
	  width: 90px;
	  height: 32px;
	  font-size: 12px;
	  border: 0;
	  border-radius: 15px;
	  outline: none;
	  padding-left: 8px;
	  background-color: rgb(233, 233, 233);
	}
	
	.gender,.pet{
	  width: 100px;
	  height: 32px;
	  font-size: 12px;
	  border: 0;
	  border-radius: 15px;
	  outline: none;
	  padding-left: 10px;
	  background-color: rgb(233, 233, 233);
	  margin-left: 15px;	
	  float : left;
	}
  	
	.join{
		display: flex;     
		align-items: center;   
		justify-content: center;   
	
	}
	

	#ex_file	{  /* 파일 필드 숨기기 */
	  position: absolute;
	  width: 1px;
	  height: 1px;
	  padding: 0;
	  margin: -1px;
	  overflow: hidden;
	  clip:rect(0,0,0,0);
	  border: 0;
	}

 	#preview{
    width: auto;
    max-width: 60%;
    height: auto;
    margin: 0;
    padding: 0;
    border: none;
    line-height: normal;
    vertical-align: middle;
}

	.heigthD{
		height: 100px;
	}
	
	#joinBtn{
		margin-top: 130;
		margin-left: 320; 
	
	
	}
	
	
	
		
	
	