html {
    width: 100%;
    height: 100%;
}

		/*  로그인,회원가입,마이페이지,장바구니 버튼 백그라운드 컬러변경 시 사용 */
		
	#mega_wrapper > ul {
	    border: 1px solid white;
	    text-align: center;
	    color: black;
	    font-size: 16px;
	    float: left;
	}
	
	#login_box > li > a:hover {
	
	  background: #fff5f3;
	  text-decoration: none;
	  border-radius: 20px;
	  transition : 0.3s;
	}

	
	#login_box > li > a {
	
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    letter-spacing: .75px;
    border: transparent;
    position: relative;
    display: inline-block;
    background: #fff;
    color: black;
    transition: 0.3s;
    height: 70%;
    width: 66%;
    top: 0;
    left: 0;
    line-height: 40px;
    
	}
	
	#login_box > li {
	
/*     border: 1px solid blue; */
    float: left;
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    width: 100px;
    left: 0px;
    padding: 0;
    
	}


 #map{
 	margin : 0 auto;
 }
 
 html {
  height : 100%;
 }
 
 body {
 
/*     border: 1px solid red; */
    
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 1220px;

 }
 
 footer {
 
     top: 50px;
    position: relative;
    margin: 0 auto;
    left: 0;
    width: 100%;
    height: 500px;

 }
 
 
/*  Bottom CSS 설정 */
 
 
 .footer_wrap {
    width: 100%;
    margin: 0 auto;
    height: 500px;
    position: relative;
    top: 0;
    left: 0;
    background: #f1d3d73b;
}

#top_line {

	position: relative;
    margin: 0;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    border-top: 1px solid #f2dede;

}

#bottom_line {

	position: relative;
    margin: 0;
    top: 0;
    left: 0;
    height: 20px;
    width: 100%;
    border-top: 1px solid #f2dede;

}

.footer {

    margin: 0 auto;
    height: 80%;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

.footer > div {

    margin: 0 auto;
    position: relative;
    top: 0;
    left: 6px;
    width: calc(99%/3);
    height: 100%;
    border: 0.1pt dotted #f2dede;
    float: left;

}

.footer-title {
    margin-bottom: 40px;
    color: #777;
}

.copyright {
    margin: 0 auto;
    left: 0;
    top: 0;
    position: relative;
    width: 100%;
    height: 30px;
}

#link{

color : navy;

}

	#mega_wrapper > ul {
	    border: 1px solid white;
	    text-align: center;
	    color: black;
	    font-size: 16px;
	    float: left;
	}
