html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body{
    background-image: url('../images/bg.jpg'); /* 배경 이미지 */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
body.dimmed::before{
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 250px;
    bottom: 0;
    background-color: rgba(255,255,255, 0.75);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);    
}

footer {
	
	position: relative;
    top: 1000px;
	
}

.pop1 {
    z-index: 1;
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 300px;
    max-width: 700px;
    min-height : 300px;
    max-height : 450px;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 2px 55px -25px rgb(0 0 0 / 100%);
}
.pop1title{
    border-radius: 15px 15px 0 0;
    min-height: 40px;
    color: #fff;
    background-color: #b66;
    padding: 10px 15px;
    box-sizing: border-box;
    font-weight: bold;
}
.pop1content {
	padding: 20px;
    box-sizing: border-box;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
.pop1cmd {
	
	
	top: -20px;
    width: 100%;
    position: relative;
    box-sizing: border-box;
    border-radius: 15px;
    text-align: right;
    height: 70px;
    margin : 0 auto;
}
.popbtn {
	
	position: relative;
    text-align: center;
    width: 140px;
    height: 30px;
    margin: 0 auto;
    left: -270px;
    right: 0;
    top: 20px;
    background: #cccccc21;
    border-radius: 10px;
    transition: all 0.5s;
    color: #9e9e9e;
    font-size: 15px;
    border : 1px dotted floralwhite;


}
.popbtn:hover {
	
	background : #fff5f3;
	border-radius: 20px;
	transition : all 0.5s;
	color : #f44336;
}


#pet_box {
	
	border : 1px solid #ffb6c161;
	
	position: relative;
	width: 660px;
	height : 300px;
	top: 0;
	left : 0;
	right : 0;
	margin : 0 auto;
	border-radius : 20px;
	overflow: auto;
	
}

#pet_name_box{

/*     border: 1px solid green; */
    
    position: relative;
    display: inline-block;
    width: 98%;
    height: 30px;
    top: 0;
    left: 0px;
    right: 0;
    margin: 0 auto;
    font-size: 13px;
    background: #ffc0cb33;
    font-weight: bold;
    text-align: center;
    float: left;
    padding: 0px;
    line-height: 30px;
    border-radius: 20px;

}

	
#pet_name_box > a {
    display: inline-block;
    position: relative;
    top: 0;
    margin: 0 3px;
    left: -10px;
    width: 63px;
    top: 0;
    text-align: center;
    font-size: 11px;
}

 
#pet_info_box {
	
    border: 1px dashed #ffc0c0;
    position: relative;
    width: 615px;
    height: 77px;
    top: 28px;
    left: 0;
    right: 0;
    margin: 5px auto;
}

#pet_img {
    border: 1px dotted #cccccc;
    position: relative;
    width: 69px;
    height: 72px;
    top: -21px;
    left: 0;
    right: 0;
    margin: 0px auto;
    float: left;
    border-radius: 20px;
    background: aliceblue;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}

#pet_info_box > input {
	
    border: 1px dotted #cccccc;
    position: relative;
    width: 60px;
    height: 76px;
    top: -22px;
    left: 0;
    right: 0;
    margin: 2px 4px;
    margin-top: 2px;
    margin-right: 4px;
    margin-bottom: 2px;
    margin-left: 4px;
    float: left;
    font-size: 15px;
    border-radius: 20px;
    background: aliceblue;
    font-weight: bold;
    color: darkblue;
    text-decoration: none;
    text-align: center;
}

#select_box {
	
	margin: 0 auto;
    position: relative;
    top: 20px;
    left: -340px;
    height: 30px;
    background: #ffc0c0;
    width: 120px;
	
	
	
}