@charset "UTF-8";/*서울 남산체 폰트 가져오기*/
@font-face {
  font-family: "SeoulNamsanM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html > body {
  font-family: SeoulNamsanM, sans-serif;
}
/* 스크롤바 설정*/
.Contents-Box::-webkit-scrollbar {
  width: 8px;
}
/* 스크롤바 막대 설정*/
.Contents-Box::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #4f6884;
  border-radius: 10px;
}
/* 스크롤바 뒷 배경 설정*/
.Contents-Box::-webkit-scrollbar-track {
  background-color: #e5ebf2;
}
/*스타일 시작*/
.Contents-Box {
/*   height: 900px; */
  color: #010101;
  padding: 0px 20px;
  margin : 5% 5% 0 5%;
/*   width: 80%; */
}
/*제목, 삭제버튼*/
.Contents-Box > .Title-And-Del {
  display: flex;
}
.Contents-Box > .Title-And-Del > .Title {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.Contents-Box > .Title-And-Del > .Title > span {
  margin-right: -5%;
  font-size: 4rem;
  padding-bottom: 1.5rem;
}
.Contents-Box > .Title-And-Del > .Sel-And-Del-Btn {
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: end;
  padding: 0 10px 8px 0;
}
.Contents-Box > .Title-And-Del > .Sel-And-Del-Btn > input:first-child {
  border: 1px solid #7d7d7d;
/*   cursor: pointer;
 */  padding: 2px 0;
  width: 40%;
  font-size: 2rem;
}
.Contents-Box > .Title-And-Del > .Sel-And-Del-Btn > input:nth-child(2) {
  background-color: #FFB287;
  padding: 3px 30px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Contents-Box > .Title-And-Del > .Sel-And-Del-Btn > input:nth-child(2):hover {
  background-color: #4F6884;
}
/*목록*/
.List-Box{
	width:100%;
}
.Contents-Box > .List-Box > ul {
  display: flex;
  height: calc(100% / 15);
  background-color: #f3f3f3;
  color: #7d7d7d;
  font-size: 2.5rem;
}
.Contents-Box > .List-Box > ul > li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Contents-Box > .List-Box > ul > li:first-child {
  width: 5%;
}
.Contents-Box > .List-Box > ul > li:nth-child(2) {
  width: 15%;
  justify-content: start;
  padding: 0 40px;
}
.Contents-Box > .List-Box > ul > li:nth-child(3) {
  width: 50%;
}
.Contents-Box > .List-Box > ul > li:nth-child(4) {
  width: 15%;
}
.Contents-Box > .List-Box > ul > li:nth-child(5) {
  width: 7.5%;
}
.Contents-Box > .List-Box > ul > li:last-child {
  width: 7.5%;
}
.Contents-Box > .List-Box > .List-1 {
  height: auto;
  display: flex;
  border-bottom: 1px solid #eaeaea;
}
.Contents-Box > .List-Box > .List-1 > div {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  font-size: 2rem;
}
.Contents-Box > .List-Box > .List-1 > div:first-child {
  width: 13%;
  color: #4f6884;
}
.Contents-Box > .List-Box > .List-1 > div:nth-child(2) {
  width: 10%;
  justify-content: left;
  padding-left: 40px;
  color: #696969;
}
.Contents-Box > .List-Box > .List-1 > div:nth-child(3) {
  width: 60%;
/*   justify-content: start; */
/*   padding-left: 50px;
 */  color: #696969;
}
.Contents-Box > .List-Box > .List-1 > div:last-child {
  width: 17%;
  color: #a0a0a0;
}
/*페이지 이동 숫자*/
.Contents-Box > .List-Move-Number {
  /* height: 10%; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
}
.Contents-Box > .List-Move-Number > .Number {
  width: 52%;
  display: flex;
  justify-content: end;
}
.Contents-Box > .List-Move-Number > .Up-Btn {
  width: 48%;
  display: flex;
  justify-content: end;
  align-items: start;
  height: 100%;
  padding: 8px 10px 0 0;
}
.Contents-Box > .List-Move-Number > .Number > div {
  padding-right: 20px;
  font-weight: 900;
  color: #4f6884;
  cursor: pointer;
}
.Contents-Box > .List-Move-Number > .Number > div:hover {
  color: #fd7b32;
}
.Contents-Box > .List-Move-Number > .Number > div:nth-child(3) {
  padding-right: 0;
  font-weight: 900;
}
.Contents-Box > .List-Move-Number > .Up-Btn > input {
  background-color: #FFB287;
  padding: 3px 30px;
  color: #ffffff;
  font-size: 2rem;
  font-weight: 100;
  cursor: pointer;
  transition: background-color 0.3s;
}
.Contents-Box > .List-Move-Number > .Up-Btn > input:hover {
  background-color: #4F6884;
}

/* list's css */
/*  로그인,회원가입,마이페이지,장바구니 버튼 백그라운드 컬러변경 시 사용 */
  #login_box > li > a:hover {
    background: #fff5f3;
    text-decoration: none;
    border-radius: 20px;
    transition : 0.3s;
  }
  #login_box > li > a {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto;
    letter-spacing: .75px;
    border: transparent;
    position: relative;
    display: inline-block;
    background: #fff;
    color: black;
    transition: 0.3s;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    line-height: 40px;
  }
  #login_box > li {
    float: left;
    position: relative;
    text-align: center;
    margin: 0 auto;
    height: 50px;
    width: 122px;
    left: 0px;
    padding: 0;
  }
    /* 게시판을 감싸는 div의 스타일 */
    .board-wrap {
      margin: 20px auto; /* 중앙 정렬 */
      max-width: 1200px; /* 최대 가로 너비 지정 */
    }
    /* 게시판 목록 테이블의 스타일 */
    .board-table {
      width: 100%;
      border-collapse: collapse; /* 테두리 합치기 */
      border-top: 2px solid #ddd; /* 상단 테두리 지정 */
    }
    /* 게시판 목록 테이블의 th와 td 스타일 */
    .board-table th, .board-table td {
      padding: 10px 20px; 
/*   text-align: center;  */
      border-bottom: 1px solid #ddd; 
    }
    /* 게시판 목록 테이블의 th 스타일 */
    .board-table th {
      background-color: #f5f5f5; /* 배경색 지정 */
    }
    
    /* 게시판 목록 테이블의 td > a 스타일 */
    .board-table td > a {
      color: #333; /* 링크 색상 지정 */
     text-decoration: none; /* 밑줄 제거 */
      font-weight: bold; /* 글씨체 굵기 지정 */
    }
    .board-table td:nth-child(5),.board-table td:nth-child(6),.board-table td:nth-child(1) {
    padding-left: 30px;
    }
    /*마우스 올리면 색 변환*/
    .board-table td:nth-child(2) a:hover {
      color: #f44336;
    }
    
    #mega_wrapper > ul {
    border: 1px solid white;
    text-align: center;
    color: black;
    font-size: 16px;
    float: left;
	}
    #newContent {
      float : right;
      position : relative;
      top : 10px;
      background-color: #f44336;
      color: white;
      border: none;
      padding: 10px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
    }
    
/* list's css */
/* read's css */
    .post-Container {
      margin: 0 auto;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      width: 1200px;
      padding: 20px;
    }
    .post {
      border-bottom: 1px solid #ddd;
      background-color: #fffff;
    }
    .post-title {
      font-size: 24px;
    }
    .post-info {
      color: #888;
      font-size: 14px;
    }
    .post-body {
      text-align: left;
      line-height: 1.5;
    }
    .post-header {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid #ddd;
      background-color: #fafafa;
    }
    .post-buttons {
      position: relative;
      text-align: right;
      padding-top: 40px;
      padding-bottom: 20px;
    }
    .post-buttons input[type="button"] {
      display: inline-block;
      margin-left: 10px;
      padding: 8px 20px;
      border-radius: 20px;
      border: none;
      color: white;
      background-color: #EDAF8C;
      cursor: pointer;
    }
    #likeDiv{
      display: flex; 
      flex-direction: column;
    }
    #countLike{
      font-size: 30px;
    }
    /* 	댓글 CSS */
    #tblAddCommnet, #tblListComment {
      margin: 15px auto;
    }
    #tblAddComment {
      margin-top: 30px;
    }
    /* 	#tblAddComment td:nth-child(1) { width: 600px; } */
    #tblAddComment td:nth-child(2) {
      width: 100px;
    }
    #tblListComment td:nth-child(1) {
      width: 600px;
    }
    #tblListComment td:nth-child(2) {
      width: 100px;
    }
    #tblListComment td {
      position: relative;
      left: 0;
      top: 0;
    }
    #tblListComment td span {
      position: absolute;
      right: 10px;
      bottom: 5px;
      color: #AAA;
      font-size: 11px;
    }
    #CommentDiv{
      margin: 0 77;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    #comment0{
    text-align: center;
    }
    .commentTextarea{
      width: 100%; 
      background-color: white; 
      resize: none; 
      border: none;
    }
    /* 	댓글 CSS 끝*/
    
    #updatePro {
      display: none;
    }
/* read's css */
/* reviewList's css */
    body{
      font-size : 15px;
    }
    #mega_wrapper > ul {
      border: 1px solid white;
      text-align: center;
      color: black;
      font-size: 16px;
      float: left;
    }
    .list_lnb_01 {
      margin-left: 50px;
      width: 220px;
    }
    .list_lnb_02 {
      margin-left: 40px;
      width: 170px;
    }
      .list_lnb_04 {
      margin-left: 55px;
      width: 170px;
    }
    	/*  로그인,회원가입,마이페이지,장바구니 버튼 백그라운드 컬러변경 시 사용 */
    #login_box > li > a:hover {
      background: #fff5f3;
      text-decoration: none;
      border-radius: 20px;
      transition : 0.3s;
    }
    #login_box > li > a {
      font-family: 'Nanum Gothic', sans-serif;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: 700;
      margin: 0 auto;
      letter-spacing: .75px;
      border: transparent;
      position: relative;
      display: inline-block;
      background: #fff;
      color: black;
      transition: 0.3s;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
      line-height: 40px;
    }
    #login_box > li {
      float: left;
      position: relative;
      text-align: center;
      margin: 0 auto;
      height: 50px;
      width: 105px;
      left: 0;
      padding: 0;
    }
    #login_box {
      margin: 0 auto 0 auto;
      position: relative;
      width: 250px;
      height: 100px;
      top: -1px;
      left: 475px;
      right: 0;
      text-align: center;
    }
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }
    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
    .b-example-divider {
      height: 3rem;
      background-color: rgba(0, 0, 0, .1);
      border: solid rgba(0, 0, 0, .15);
      border-width: 1px 0;
      box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
    }
    .b-example-vr {
      flex-shrink: 0;
      width: 1.5rem;
      height: 100vh;
    }
    .bi {
      vertical-align: -.125em;
      fill: currentColor;
    }
    .nav-scroller {
      position: relative;
      z-index: 2;
      height: 2.75rem;
      overflow-y: hidden;
    }
    .nav-scroller .nav {
      display: flex;
      flex-wrap: nowrap;
      padding-bottom: 1rem;
      margin-top: -1px;
      overflow-x: auto;
      text-align: center;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    }
    .card-text{
    /* 추가하기 */
    display: -webkit-box;
    -webkit-line-clamp: 3;
   -webkit-box-orient: vertical; 
    overflow: hidden;
    }
    .card-content__more-btn {
    appearance: none;
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 0.25em;
    cursor: pointer;
    margin: 1rem;
    }
    .card-content__more-btn::before {
      content: '더보기';
    }
    .card-content__more-btn:checked::before {
      content: '닫기';
    }
    .card-text:has(+ .card-content__more-btn:checked) {
      -webkit-line-clamp:unset
    }
    .card>img{
      height: 300px; 
      object-fit: contain;
    }
    .card-text {
      margin-bottom:0;
    }
/* reviewList's css */
/* reviewWrite's css */
    .wrap1{
      width: 1200px; 
      margin: 0 auto; 
      margin-bottom: 20px;
    }
    .wrap2{
      width: 1200px; 
      display: flex; 
      justify-content: space-between; 
      margin: 0 auto;
    }
    .wrap3{
      display: inline-block;
    }
    .wrap3>input{
      width: 100%; 
      font-weight: bold;
    }
    .wrap4{
      width: 1200px; 
      display: flex; 
      justify-content: right; 
      margin: 0 auto;    
    }
    .wrap5{
      display: inline-block;
    }
    #title{
      width: 100%; 
      box-sizing: border-box; 
      font-size: 20px;
    }
    .DOC_TEXT{
      width: 100%; 
      font-size: 25px;
    }
    #counter{
      color: #aaa; 
      font-size: 15px;
    }
    #registration{
      width: 100%; 
      font-weight: bold;
    }
/* reviewWrite's css */
